.about-page {
  height: 100%;
}
.about-page aside img {
  width: 100%;
  height: 100%;
  padding: 5px;
  object-fit: cover;
}
.about-page aside img:hover {
  opacity: 0;
  will-change: opacity;
  content: url("https://dabokun.github.io/about/hover.png");
}
.about-page .about-title {
  font-weight: normal;
}